<!DOCTYPE html>
<html lang="en" class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Dashboard-SmartGarage</title>
    <link rel="icon" type="image/png" href="https://cssninjastudio.github.io/krypton/img/favicon.png" />  
    <link rel="stylesheet" href="/main.min.css">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.4.95/css/materialdesignicons.min.css">
    <style>
      .section {
          padding: 1rem;
          overflow-y: auto;
          direction: ltr;
          scrollbar-color: #d4aa70 #e4e4e4;
          scrollbar-width: thin;
      }
      .section::-webkit-scrollbar {
      width: 5px;
      }
      .section::-webkit-scrollbar-track {
      background-color: #1f1f1f;
      border-radius: 100px;
      }
      .section::-webkit-scrollbar-thumb {
      border-radius: 100px;
      border: 6px solid rgba(0, 0, 0, 0.18);
      border-left: 0;
      border-right: 0;
      background-color: #e4e4e4;
      }
      </style>
  </head>
  <body>
        <div id="app" class="section">
            @include('layouts/partials/_navbar')
            <section class="section is-main-section">
                @!section('content')
            </section>
            <footer class="footer">
                <div class="container-fluid">
                  <div class="level">
                    <div class="level-left">
                      <div class="level-item">
                        © 2021, SmartGarage
                      </div>
                      <div class="level-item">
                        <a href="https://github.com/vikdiesel/admin-one-bulma-dashboard" style="height: 20px">
                          <img src="https://img.shields.io/github/v/release/vikdiesel/admin-one-bulma-dashboard?color=%23999">
                        </a>
                      </div>
                    </div>
                    <div class="level-right">
                      <div class="level-item">
                        <div class="logo">
                          <a href="https://justboil.me"><img class="rotating" src="https://cssninjastudio.github.io/krypton/img/favicon.png" alt="JustBoil.me"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </footer>
        </div>
        

        

        <script type="text/javascript" src="/main.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
        <script type="text/javascript" src="/chart.sample.min.js"></script>
  </body>
</html>